*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 94%);
}
.container-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 450px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 3px 3px 5px gray;
    border-bottom-right-radius: 120px;
}

.container{
    width: 540px;
    height: 430px;
    

}

input{
    width: 85px;
    height: 45px;
    border: 1px solid hsl(0, 1%, 44%);
    border-radius: 4px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-indent: 10px;
}

input:focus{
    border: 0px;
    outline: 1px solid;
    font-size: 20px;
    color: hsl(0, 0%, 8%);
}

.input-flex{
    width: 400px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.calender{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: hsl(0, 1%, 44%);
}

hr{
    
    width: 520px;
}

img[alt="arrow"]{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: hsl(259, 100%, 65%);
    position: absolute;
    right: 10px;
}

.image-div{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 60px;
}
.error-text{
    visibility: hidden;
    font-size: 10px;
    color: red;
    font-family: 'Poppins', sans-serif;


}
.text-div > p{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 60px;   
}

.text-div p > span{
    color: hsl(259, 100%, 65%);
}

.on{
    visibility: visible;
    

}

